<section>
  <button class="lang-btn" mat-flat-button color="accent" [matMenuTriggerFor]="menu">{{langMap.get(locale)}}</button>
  <mat-menu #menu="matMenu">
    <a *ngFor="let link of langMap | keyvalue" href="/{{link.key}}/">
      <button mat-menu-item>{{link.value}}</button>
    </a>
  </mat-menu>

  <h1 i18n>Hello world!</h1>

  <mat-form-field appearance="outline">
    <input i18n i18n-placeholder="@@input-placeholder" matInput placeholder="Enter a number" [(ngModel)]="tasksCount">
  </mat-form-field>

  <p
    i18n="@counter">{tasksCount, plural, =0 {no tasks} =1 {1 task} =2 {2 tasks} few {{{tasksCount}} tasks} many {{{tasksCount}} tasks} other {{{tasksCount}} tasks}}</p>

  <p i18n>Gender: {genderCode, select, 0 {male} 1 {female} other {unknown}}</p>
  <button mat-flat-button color="primary" i18n (click)="male()">Male</button>
  <button mat-flat-button color="primary" i18n (click)="female()">Female</button>
  <button color="primary" mat-flat-button (click)="other()" i18n>Other</button>


  <p class="date">{{today | date:'short'}}</p>
  <p i18n="@@money">I want to earn  {{amount | currency:'USD':'symbol'}}</p>
  <p>{{string}}</p></section>
